beautifulsoup4==4.13.5
certifi==2025.8.3
charset-normalizer==3.4.3
filelock==3.13.1
fsspec==2024.6.1
idna==3.10
Jinja2==3.1.4
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.3
numpy==2.3.2
pandas==2.3.2
pillow==11.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
scipy==1.16.1
six==1.17.0
soupsieve==2.8
sympy==1.13.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
--extra-index-url https://download.pytorch.org/whl/cu129
torch==2.8.0+cu129
torchvision==0.23.0+cu129
